.btn{
    color: #fff;
    text-transform: capitalize;
    width:min-content;
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    border-radius: 0.5rem;
    margin-left: 1rem;
}
.btn:hover{
    box-shadow: 1px 2px 4px white;
}

.outline{
    color: var(--white);
    text-transform: capitalize;
    width:min-content;
    padding: 0.5rem 1rem;
    background-color: var(--black);
    border: 1px solid var(--blue);
    border-radius: 0.5rem;
    margin-left: 1rem;
}
.outline:hover{
    box-shadow: 1px 2px 4px white;
    background-color: var(--blue);
}


@media screen and (max-width:800px) {
    
}