.grid-flex{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    
    margin: 1rem 1rem;
    
    flex-wrap: wrap;
}
.grid-box{
    width:200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--dark-grey);
    
    padding: 1rem;
    padding-left: 1.5rem;
    gap:1rem;
}
.grid-logo{
    width:3rem;
    height: 3rem;
    border-radius: 50%;

}


.grid-name p{
    margin: 0;
}
.grid-symbol{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}
.coin-name{
    color: var(--grey);
    font-size: 0.8rem;
}
.coin-chip{
    border:2px solid var(--green);
    padding:0.5rem 1rem;
    width:min-content;
    color: var(--green);
    border-radius: 2rem;
}
.coin-red{
    color:var(--red);
    border-color: var(--red);
}