.nav{
    width: 100%;
   height:50px;
     position: sticky !important;
     top:0;
     left: 0;
     right: 0;
     padding: 1rem 2rem;
     z-index: 1000;
 }
 .header{
     
    
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
 
 }
 .heading{
     margin: 0;
     font-size: 1.4rem;
 }
 .heading h1{
     font-size: 1.2rem;
 }
 .links{
     display: flex;
     gap:1rem;
     justify-content: flex-start;
     align-items: center;
     color: var(--grey);
     margin-right: 5rem;
 }
 .link{
     color: var(--grey);
     text-decoration: none;
     text-transform: capitalize;
     font-weight: 500;
     padding-left: 1.2rem;
     
 }
 .links a{
     text-decoration: none;
 }
 .link:hover{
     color: var(--white);
     transition: all 0.3s;
 }
 
 .drawer{
     background-color: var(--black);
     color: var(--white);
     height: 100vh;
     width:40vh;
     padding: 1.5rem;
     overflow-y: hidden !important;
 }
 .menu{
     margin-right: 100px;
     padding-top: 0.5rem;
     width: 500px !important;
 cursor: pointer;
 }
 .drawerDiv{
     display: none;
     text-decoration: none;
     padding-bottom: 5rem;
 }
 .drawer  a{
     text-decoration: none;
 }
 .drawer_btn{
     color: var(--white) !important;
     background-color: var(--blue) !important;
     width:150px !important;
     height: 30px ;
     padding: 10px 20px !important;
 
 }
 
 
 
 @media screen and (max-width:800px) {
     .drawerDiv{
         display: block;
     }
     .links{
         display: none;
     }
     .heading h1{
         font-size: 1rem;
     }
     
 }